<section class="galeria-grid">
  <div class="galeria-grid__row">
    <div class="galeria-grid__column">
      <img src="https://rickandmortyapi.com/api/character/avatar/772.jpeg" alt="imagen1">
    </div>
    <div class="galeria-grid__column">
      <img src="https://rickandmortyapi.com/api/character/avatar/102.jpeg" alt="imagen2">
    </div>
  </div>
  <div class="galeria-grid__row">
    <div class="galeria-grid__column">
      <img src="https://rickandmortyapi.com/api/character/avatar/421.jpeg" alt="imagen3">
    </div>
    <div class="galeria-grid__column">
      <img src="https://rickandmortyapi.com/api/character/avatar/307.jpeg" alt="imagen4">
    </div>
  </div>
</section>