<h1>Formulario de registro:</h1>

<!-- Name -->
<form (submit)="onSubmit()" [formGroup]="fg">
  <fieldset>
    <label for="firstNameId">Nombre:</label>
    <input type="text" id="firstNameId" formControlName="firstName">
    <div class="field-error" *ngIf="!fg.get('firstName')?.valid &&
      (fg.get('firstName')?.dirty || submitted)">
        El nombre no es correcto
    </div>
  </fieldset>

  <fieldset>
    <label for="lastNameId">Apellido:</label>
    <input type="text" id="lastNameId" formControlName="lastName">
    <div class="field-error" *ngIf="!fg.get('lastName')?.valid &&
      (fg.get('lastName')?.dirty || submitted)">
        El apellido no es correcto
    </div>
  </fieldset>

  <!-- NIF -->
  <fieldset>
    <label for="nifId">DNI:</label>
    <input type="text" id="nifId" formControlName="nif">
    <div class="field-error" *ngIf="!fg.get('nif')?.valid &&
      (fg.get('nif')?.dirty || submitted)">
        El DNI tiene que tener 8 dígitos y una letra
    </div>
  </fieldset>

  <!-- Email -->
  <fieldset>
    <label for="emailId">Email:</label>
    <input type="email" id="emailId" formControlName="email">
    <div class="field-error" *ngIf="!fg.get('email')?.valid &&
      (fg.get('email')?.dirty || submitted)">
        El email no es correcto
    </div>
  </fieldset>

  <!-- Password -->
  <fieldset>
    <label for="passwordId">Contraseña:</label>
    <input type="password" id="passwordId" formControlName="password">
    <div class="field-error" *ngIf="!fg.get('password')?.valid &&
      (fg.get('password')?.dirty || submitted)">
        La contraseña debe tener al menos 6 caracteres con al menos un número
    </div>
  </fieldset>

  <fieldset>
    <label for="repeatPasswordId">Repetir contraseña:</label>
    <input type="password" id="repeatPasswordId" formControlName="repeatPassword">
    <div class="field-error" *ngIf="this.fg.value.password !== this.fg.value.repeatPassword">
        La contraseña no coincide
    </div>
  </fieldset>

  <!-- Phone number -->
  <fieldset>
    <label for="phoneNumberId">Número teléfono:</label>
    <input type="tel" id="phoneNumberId" formControlName="phoneNumber">
    <div class="field-error" *ngIf="!fg.get('phoneNumber')?.valid &&
      (fg.get('phoneNumber')?.dirty || submitted)">
        El teléfono tiene que tener 9 cifras. Hay que introducirlo sin el código de país (+34)
    </div>
  </fieldset>

  <!-- Description -->
  <fieldset>
    <label for="descriptionId">Descripción:</label>
    <textarea name="" id="descriptionId" cols="30" rows="3" formControlName="description"></textarea>
  </fieldset>
  

  <!-- Advertisement policy -->
  <fieldset>
    <label for="adPolicyId">Política privacidad:</label>
    <input type="checkbox" id="adPolicyId" formControlName="adPolicy">
    <div class="field-error" *ngIf="!fg.get('adPolicy')?.valid &&
      (fg.get('adPolicy')?.dirty || submitted)">
        Debes aceptar la política de privacidad
    </div>
  </fieldset>

  <button type="submit" [disabled]="!fg.valid">Submit</button>

</form>