// General configuration
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto; // same margin left and right useful when limit max width

  // Mobile first
  p {
    font-size: 12px;
  }
}

// Header
.main-header {
  // Mobile first
  display: none;
}

.main-header h1 {
  display: none;
}

// Navbar
.main-nav {
  display: flex;
  padding: 10px;
  background: #004254;
  color: #fbbb21;
  // Mobile first
  flex-direction: column;
}

.main-nav a {
  color: #fbbb21;
  text-decoration: none;
}

.main-nav__logo {
  display: flex;
  // background-color: aqua; // uncomment for testing position of img
  align-items: center; // img center in its div
  font-size: 0px; // IMPORTANT: Needed for totally center horizontally img with navbar
  // Mobile first
  margin: 0px 20px; // same margin as menu items when vertical
}

.main-nav__logo img {
  // max-width: 100%;
  max-height: 60px;
}

.main-nav__menu {
  display: flex;
  list-style: none; // remove bullet icons from list
  padding: 0; // ul has a default padding-inline-start: 40, so it's forced to 0
  // Mobile first
  flex-direction: column;
}

.main-nav__menu-item {
  display: flex;
  align-items: center; // centered if two lines of text
}

.main-nav__menu-item-link {
  // Padding between list elements. Not in menu items for being able to appy style on hover
    padding: 5px 20px; // shorthand: top/(bottom) left/(right)
  }

.main-nav__menu-item-link:hover {
  background-color: #b3c4d6;
  color: #004254;
  border-radius: 10px;
}

// Index view
.index-grid {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #f6f8fa;
}

.index-grid__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.index-grid__row-title {
  margin: 5px 20px; // Same margin as columns
  padding: 0px 15px; // Same padding as columns
  color: #fbbb21;
  font-size: 25px;
}

// Button configuration
.index-grid__read-more {
  display: flex;
  max-width: 100px;
  color: #fbbb21;
  background: none;
  border: none;
  cursor: pointer;
  // Mobile first
  font-size: 12px;
}

.index-grid__column-more {
  display: none;
}

.index-grid__content {
  display: flex;
  align-items: flex-start; // Align top, columns with different height
  // Mobile first
  flex-direction: column;
}

.index-grid__column:hover {
  background: #004254;
  color: #f6f8fa;
}

// h3 direct children of column
.index-grid__column:hover > h3 {
  color: #fbbb21;
}

.index-grid__column {
  display: flex;
  flex: 1; // All columns same width
  background-color: white;
  color: #004254;
  // border: 1px solid #004254; // shorthand: width style color
  border-radius: 15px;
  padding: 0px 15px 15px; // top right/left bottom
  margin: 0px 20px 20px;
  // Mobile first
  flex-direction: column;
}

.index-grid__column-title {
  font-size: 18px;
}

.index-grid__column-link a:visited {
  color: #f48225;
}

// List view
.list-grid {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #f6f8fa;
}

.list-grid__table {
  // Center table
  margin-left: auto;
  margin-right: auto;

  background-color: white;
  border: 1px solid;

  // Mobile first
  width: 80%;
}

.list-grid__table th, td {
  border: 1px solid;
}

.list-grid__table th {
  font-size: 35px;
  color: #004254;
}

.list-grid__table td {
  text-align: center;
  font-size: 25px;
}

.list-grid__table-img {
  padding: 10px;
  width: 35%;
}

.list-grid__table-img img {
  display: flex;
  max-width: 100%;
}

.list-grid__table-name a {
  text-decoration: none;
  color: #fbbb21;
}

// Detail view
.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f8fa;
  color: #004254;
  padding: 20px;
}

.detail__img {
  width: 150px;
}

.detail__img img {
  max-width: 100%;
}

.detail__data {
  display: flex;
  flex-direction: column;
}

.detail__data h2 {
  font-size: 18px;
  color: #fbbb21;
  text-align: center;
}


// Footer
.main-footer {
  display: flex;
  background-color: #004254;
  color: #fbbb21;
  align-items: center;
  // Mobile first
  flex-direction: column;
  padding-top: 15px;
}

.main-footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

.main-footer a {
  color: #fbbb21;
  text-decoration: none;
}

.main-footer__list-item {
  margin: 2px;
}

.main-footer__list-item-link img {
  max-width: 24px;
}


// Desktop
@media screen and (min-width: 992px) {

  // General configuration
  body {
    p {
      font-size: 16px;
    }
  }

  // Header
  .main-header {
    display: flex;
    justify-content: center; // Text in the middle
    background-color: #004254;
    max-height: 150px;
    // max-width: 150px;
  }

  // Navbar
  .main-nav {
    flex-direction: row;
    justify-content: space-between; // logo left, items right
  }

  .main-nav__logo {
    margin: 0px;
  }

  .main-nav__menu {
    flex-direction: row;
    align-items: center;
  }

  // Index view
  .index-grid__content {
    flex-direction: row;
  }

  .index-grid__read-more {
    font-size: 16px;
  }

  // List view
  .list-grid__table {
    width: 50%;
  }

  // Footer
  .main-footer {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0px;
  }
}

// Limit max width of content in screen
@media screen and (min-width: 1200px) {
  body {
    max-width: 1200px;
  }
}