footer {
  display: flex;
  flex-direction: row;
  background-color: darkgreen;
  color: white;
}

footer a {
  text-decoration: none;
}

.seleccionado {
  color: red;
}

.noSeleccionado {
  color: white;
}

ul {
  list-style: none;
}